.add-to-cart-button {
  position: absolute;
  width: 90%;
  height: 12%;
  bottom: 8.5%;
  border: 2px solid rgb(185, 19, 19);
  background-color: #fff;
  cursor: pointer;
  color: rgb(185, 19, 19);
  transition: 0.2s;
  border-radius: 5px;
}

.add-to-cart-button:hover {
  color: #f00;
  border-color: #f00;
  transition: 0.4s;
}

.amount-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  border: 2px solid #bbb;
  width: 90%;
  bottom: 25%;
  height: 12%;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.amount-btns {
  background: none;
  border: none;
  font-size: 30px;
  color: rgb(185, 19, 19);
  cursor: pointer;
  transition: 0.1s;
}

.amount-btns.minus {
  margin-bottom: 2px;
}

.amount-btns:hover {
  color: #f00;
  transition: 0.4s;
}

.btn-disabled {
  color: gray;
}

.btn-disabled:hover {
  color: gray;
}

.add-to-cart-disabled {
    color: gray;
    border-color: gray;
    cursor:not-allowed;
}

.add-to-cart-disabled:hover {
    color: gray;
    border-color: gray;
    cursor:not-allowed;
}

.stock {
  position: absolute;
  bottom: 2%;
  padding: 0;
  width: 90%;
  color: gray;
  font-size: 13px;
}

.positioned {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.center {
  justify-content: center;
}
