.item-container {
    position: relative;
    height: 300px;
    width: 240px;
    background-color: #e1e1e1;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.404);
}

.title-container {
    border-bottom: 1px solid rgb(185, 19, 19);
    width: 90%;
    margin: 0 auto;
    height: 10%;
}

.title {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
}

.image-container {
    height: 40%;
    width: 80%;
    padding: 0 10%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
}