.amount-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #bbb;
  width: 100%;
  height: 40px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px 0;
}

.amount-btns {
  background: none;
  border: none;
  font-size: 30px;
  color: rgb(185, 19, 19);
  cursor: pointer;
  transition: 0.1s;
}

.amount-btns.minus {
  margin-bottom: 2px;
}

.amount-btns:hover {
  color: #f00;
  transition: 0.4s;
}

.btn-disabled {
  color: gray;
}

.btn-disabled:hover {
  color: gray;
}

.add-to-cart-button {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(185, 19, 19);
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(185, 19, 19);
  transition: 0.2s;
  margin: 5px 0;
}

.add-to-cart-button:hover {
  color: #f00;
  border-color: #f00;
  transition: 0.4s;
}

.add-to-cart-disabled {
    color: gray;
    border-color: gray;
    cursor:not-allowed;
}

.add-to-cart-disabled:hover {
    color: gray;
    border-color: gray;
    cursor:not-allowed;
}

.stock {
  padding: 0;
  width: 100%;
  color: gray;
  font-size: 13px;
}

.center {
  justify-content: center;
}

.item-count-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

p {
  margin: 0
}
