.cart-container {
    width: 80%;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.200);
}

.price-buy {
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price-text {
    width: 250px;
    text-align: center;
}

.cart-buy-button {
    border: none;
    height: 50px;
    width: 260px;
    border-radius: 5px;
    background-color: rgb(185, 19, 19);
    color: white;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
}

.cart-buy-button:hover{
    background-color: red;
    transition: 0.2s;
}