.cart-widget-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 62px;
}

.cart-widget-icon {
    height: 50px;
}

.cart-widget-cant {
    font-weight: 700;
    font-size: 20px;
}