.nav-bar {
    height: 100px;
    background-color: #bbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.329);
    margin-bottom: 40px;
}

.logo {
    height: 100px;
    cursor: pointer;
}