.nav-bar {
    height: 100px;
    background-color: #bbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.185);
}

.logo {
    height: 100px;
    cursor: pointer;
}